/**
 * ------------------------------------------------------------------------------
 * style.scss
 *
 * Custom CSS framework
 *
 * Author: Ron Martin
 *
 * This framework was inspired by Adi Purdila's framework.
 * Thank you!
 * https://tutsplus.com/authors/adi-purdila
 * ------------------------------------------------------------------------------
 */
/* Compass */
/* Utilities */
/**
 * ------------------------------------------------------------------------------
 * Site settings
 * ------------------------------------------------------------------------------
 */
/* Typography */
/* Colors */
/* Positioning */
/**
 * ------------------------------------------------------------------------------
 * Utilities
 * ------------------------------------------------------------------------------
 */
/* line 7, ../sass/utilities/_utilities.scss */
.text-left {
  text-align: left;
}

/* line 11, ../sass/utilities/_utilities.scss */
.text-right {
  text-align: right;
}

/* line 15, ../sass/utilities/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 19, ../sass/utilities/_utilities.scss */
.align-left {
  display: inline;
  float: left;
}

/* line 23, ../sass/utilities/_utilities.scss */
.align-right {
  display: inline;
  float: right;
}

/* line 27, ../sass/utilities/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* Bootstrap */
/* Base */
/**
 * ------------------------------------------------------------------------------
 * Reset
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Base styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * IE8 Styles
 * ------------------------------------------------------------------------------
 */
/* Fonts */
/* Layout */
/**
 * ------------------------------------------------------------------------------
 * Nav
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Header styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Main styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Footer styles
 * ------------------------------------------------------------------------------
 */
/* Modules */
/**
 * ------------------------------------------------------------------------------
 * Button styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Divider styles
 * ------------------------------------------------------------------------------
 */
/* line 7, ../sass/modules/_dividers.scss */
hr {
  display: block;
  border: none;
}

/**
 * ------------------------------------------------------------------------------
 * Form Styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Table styles
 * ------------------------------------------------------------------------------
 */
/**
 * ------------------------------------------------------------------------------
 * Other styles
 * ------------------------------------------------------------------------------
 */
/* Theme */
/**
 * ------------------------------------------------------------------------------
 * Theme styles
 * ------------------------------------------------------------------------------
 */
