/**
 * ------------------------------------------------------------------------------
 * Site settings
 * ------------------------------------------------------------------------------
 */

 /* Typography */
 $base-font-size: 16px;
 $base-line-height: 1;

 $font1: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


 /* Colors */



 /* Positioning */

