/**
 * ------------------------------------------------------------------------------
 * Utilities
 * ------------------------------------------------------------------------------
 */

 .text-left {
 	text-align: left;
 }

 .text-right {
 	text-align: right;
 }

 .text-center {
 	text-align: center;
 }

 .left {
 	@include float-left;
 }

 .right {
 	@include float-right;
 }

 .clearfix {
 	@include clearfix;
 }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }